{% extends "base.html" %}

{% block title %}Login - CodeWithAli{% endblock %}

{% block content %}
<div class="container">
    <section class="amakers">
        <h2>Login Page</h2>
        <div class="amaker-grid">
            <div class="amaker-card">
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom legend-card legend-font">Join Today</legend>
                        <div class="form-group">
                            {{ form.email.label(class="label-font") }}
                            {% if form.email.errors %}
                                {{ form.email(class="label-box is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="label-box") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="label-font") }}
                            {% if form.password.errors %}
                                {{ form.password(class="label-box is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="label-box") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn-sign btn-submit") }}
                        </div>
                    </fieldset>
                    <label>
                        <div class="btn-sign">Need an account? <a href="{{ url_for('register') }}">Sign Up</a></div>
                    </label>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}
