<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <!-- Navbar right side, but is showing left side rn -->
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="nav-reg-log">
                <!-- Using 'url_for' so no need to manually change each time where the file is (?) -->
                <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
            </div>
        </div>
        <nav>
            <div class="logo-container">
                <img src="{{ url_for('static', filename='alipic.png') }}" alt="CodeWithAli Logo" class="logo">
            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/courses">Courses</a>
                <a href="/contact">Contact</a>
                <a href="/reviews">Reviews</a>
                <a href="/faq">FAQ</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <section class="amakers">
            <h2>Login Page</h2>
            <div class="amaker-grid">
                <div class="amaker-card">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom legend-card legend-font">Join Today</legend>
                            <div class="form-group">
                                {{ form.email.label(class="label-font") }}
                                <!-- If our form had errors on it, it'd print out *below* -->
                                {% if form.email.errors %}
                                {{ form.email(class="label-box is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="label-box") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="label-font") }}
                                <!-- If our form had errors on it, it'd print out *below* -->
                                {% if form.password.errors %}
                                {{ form.password(class="label-box is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="label-box") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn-sign btn-submit") }}
                            </div>

                        </fieldset>
                        <label>
                            <!-- Name passed in here is name of route function! -->
                            <div class="btn-sign">Need an account? <a href="/register">Sign Up</a></div>
                        </label>


                    </form>
                </div>
            </div>
        </section>

    </div>
    <footer>
        &copy; 2024 CodeWithAli. All rights reserved.
    </footer>
    <script src="script.js"></script>
</body>

</html>

<!-- Check if button passes data to website.py -->